<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.cinemalogyqa">

    <application
        android:allowBackup="true"
        android:icon="@drawable/masks_icon"
        android:label="Cinemalogy Quizz"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Main2Activity"
            android:label="Question One"/>
        <activity android:name=".Main3Activity"
            android:label="Question Two" />
        <activity android:name=".Main4Activity"
            android:label="Question Three" />
        <activity android:name=".Main5Activity"
            android:label="Question Four" />
        <activity android:name=".Main6Activity"
            android:label="Question Five"/>
        <activity android:name=".Main7Activity"
            android:label="Question Six" />
        <activity android:name=".Main8Activity"
            android:label="Question Seven" />
        <activity android:name=".Main9Activity"
            android:label="Question Eight"/>
        <activity android:name=".Main10Activity"
            android:label="Result" />
        <activity android:name=".About"></activity>
    </application>

</manifest>