<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.cinemalogyqa">

    <application
        android:allowBackup="true"
        android:icon="@drawable/masks_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Main2Activity"
            android:label="@string/q1"/>
        <activity android:name=".Main3Activity"
            android:label="@string/q2" />
        <activity android:name=".Main4Activity"
            android:label="@string/q3" />
        <activity android:name=".Main5Activity"
            android:label="@string/q4" />
        <activity android:name=".Main6Activity"
            android:label="@string/q5"/>
        <activity android:name=".Main7Activity"
            android:label="@string/q6" />
        <activity android:name=".Main8Activity"
            android:label="@string/q7" />
        <activity android:name=".Main9Activity"
            android:label="@string/q8"/>
        <activity android:name=".Main10Activity"
            android:label="Result" />
        <activity android:name=".About"></activity>
    </application>

</manifest>